---
layout: default
---

<main class="postPage">
  <div class="postShell">
    <div class="postMetaRow">
      <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>

      {% if page.tags and page.tags.size > 0 %}
        <span class="tagline">
          tag:
          {{ page.tags[0] | downcase }}
        </span>
      {% endif %}
    </div>

    <h2 class="postHeading">{{ page.title }}</h2>

    {% if page.description %}
      <p class="postLead">{{ page.description }}</p>
    {% endif %}

    <div class="postBody">
      {{ content }}
    </div>

    {% if page.tags and page.tags.size > 0 %}
      <div class="postTags">
        <span class="postTagsLabel">tags:</span>
        {% for t in page.tags %}
          <span class="postTag">{{ t }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</main>
